<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
     <body>
    <hr>
    <h3>boardList</h3>
    <p></p>
    <button style="float: right;" onclick="location.href='/addBoard'">AddBoard</button >
    <p></p><p></p>
    <hr>
    <ul id="boardArea">
        <h3 th:each="boardList : ${boardLists}" style="height: 1000px; margin-top: 500px;">
<!--            for문 돌때마다 boardArea라는게 생성됨 그러면 유니크하지않아 전혀 -->
            <span class="boardTitles board-title" th:onclick="clickView([[${boardList.id}]])" th:text="${boardList.title}" th:attr="data-id=${boardList.id}"></span>
        </h3>
    </ul>
    <!--<div class="a">1</div>
    <div class="b">2</div>
    <div class="a b">3</div>

    1, 3 = document.getElementsByClassName('a')
    2, 3 = document.getElementsByClassName('b')-->
    <!-- Bootstrap Modal -->
    <div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="boardModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="boardModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p id="boardContent"></p>
                        </div>
                        <div class="col">
                            <h3>boardComment</h3>
                            <form id="boardCommentForm">
                                <p id="boardComment"></p>
                                <input type="text" id="comment" placeholder="댓글을 입력하세요"></input>
                                <button type="submit" id="commentBtn">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    let dom = {
        boardArea : document.getElementById('boardArea'),

    };

    let boardArea = document.getElementById('boardArea');
    let boardCommentForm = document.getElementById(`boardCommentForm`);
    let comment = document.getElementById('comment');
    let boardComment = document.getElementById('boardComment');
    let currentBoardId;

        // getElemetById는 리턴을 HTMLElement 해당 객체로 단일객체이기떄문에 addEventListener이 먹는다.
        // 하지만 class 여러개에 이벤트를 걸어야할떈 HTMLCollectionOf 해당 객체 컬렉션으로 오기떄문에
        // 후속처리가필요하다.
        // 그렇다면 어제처럼 array와 단일객체간의 문제기떄문에 for문을 돌리는 일이 일어나야겠지..
        // 아니면 애초에 onClick이벤트를 걸던지..
        // 클릭 이벤트 리스너 등록

    //clickView -> 모달창 보이게
    function clickView(id){
        currentBoardId = id;
        console.log(currentBoardId)
        axios.post(`/board/view/${currentBoardId}`)
            .then((res) => {
                let title = res.data.title;
                let content = res.data.content;
                let comment = res.data.comment;

                console.log(res);
                //  debugger
                showBoardModal(title,content,comment);
            });
    }

    // 모달 창 보여주기
    function showBoardModal(title, content,comment) {
        let boardModal = document.getElementById('boardModal');
        let modalTitle = document.getElementById('boardModalLabel');
        let modalContent = document.getElementById('boardContent');
        modalTitle.textContent = title;
        modalContent.textContent = content;
        boardComment.textContent = '';
        for(let i = 0; i < comment.length; i++) {
            commentList(comment[i]);
        }
        $(boardModal).modal('show');
    }

    //현재의 boardid의 댓글(comment) 리스트를 불러오기
    function commentList(comment){  //변수가들어가
        // 공백으로실행해서 comment가 undefined로 에러발생.
        let comments = `<div class> <span> <b>${comment.content}</b></span></div>`;
        boardComment.insertAdjacentHTML("afterbegin", comments);
    }

    // 댓글 창 클릭 이벤트 핸들러 및 댓글 엔터 키 이벤트 핸들러
    // form 활용해서 이벤트 합칠수있음.
    boardCommentForm.addEventListener('submit', (e)=>{
        e.preventDefault();
        saveComment();
    });


    function saveComment(){
        let param = {content: comment.value, board : {id : currentBoardId}}// 객체
        console.log("param>>>>" + param);
        axios.post("/addComment",param)
            .then(function (res){
                if(res != null ) {
                    console.log("res >>> " + res);
                    console.log(res.data);
                    console.log(res.data.content);
                    alert("success");
                    comment.value = '';
                    commentList(res.data);
                    console.log(res);
                }
        });
    }

    //스크롤 이벤트
    window.addEventListener("scroll",()=>{
        const scrollPos = window.innerHeight + window.scrollY; // 스크롤포지션, 바디 높이 구하기
        const bodyHeight = document.body.offsetHeight;
        //스크롤 내리면 닿을 시점에 다음페이지의 화면 호출
        if(scrollPos >= bodyHeight) {
            getNextPage();
        }
        console.log(window.innerHeight)
        console.log(window.scrollY)
        console.log('--------------')
    } );

    let page = 1;
    //게시글 리스트 페이징
    function boardListPage(id,title) {
        //1.1 페이지 + 1을 해서 서버로 요청을한다
        // 1.2 자바에서 컨트롤러 만들고 페이징 해서 데이터를(리턴한다)
        let div = `<h3 style="height: 1000px; margin-top: 500px;">
                <span class="boardArea board-title" onClick="clickView(${id})" data-id="10">${title}</span>
            </h3>`;
        boardArea.insertAdjacentHTML("beforeend", div);
    }

    function getNextPage(){
        // 1.비동기로 다음 페이지의 게시글을 가져온다.
        axios.post(`/boardList?page=${page++}`)
            .then(function(res) {
                if(res != null) {
                    let content = res.data.content;
                    let length = res.data.content.length;

                    //2. 리턴 받은 데이터를 화면에 표출한다
                    //2.1 배열로 받은 데이터를 반복문을 돌려서 화면에(붙인다)
                    for(let i = 0; i < length; i++) {
                        boardListPage(content[i].id, content[i].title);
                    }
                    console.log("다음페이지로 이동");
                    console.log(res)
                }
        });
    }

    </script>

    </body>
</html>



